.contacts__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contacts__title {
  padding: 0 30px;
  margin: 0;
  color: #000000;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.contacts__list {
  padding: 0 30px;
}

.contacts__item {
  display: flex;
}

.contacts__item-title {
  color: #444444;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.contacts__description {
  color: #444444;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.contacts__address {
  font-style: normal;
}

.contacts__map {
  position: relative;
  border: none;
  width: 100%;
}

.contacts__button {
  display: flex;
  width: 260px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
  align-self: center;
  justify-content: center;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .contacts__title {
    background-image: url("../../img/svg/flag.svg");
    background-position-x: 94%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    padding: 49px 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    padding: 0 50px;
    display: flex;
    column-gap: 25px;
    flex-direction: row;
  }

  .contacts__description {
    margin: 0;
    max-width: 255px;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__item-title {
    width: 80px;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__button {
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__container {
    background-image: url("../../img/svg/flag.svg");
    background-position-x: 113px;
    background-position-y: 133px;
    background-repeat: no-repeat;
    width: 1050px;
    display: grid;
    padding: 90px 50px 105px 50px;
    align-items: flex-end;
    justify-content: right;
    column-gap: 25px;
    grid-template-columns: 335px 527px;
  }

  .contacts__map {
    grid-column-start: 2;
    grid-row: 1 / 4;
  }

  .contacts__list {
    flex-direction: column;
    grid-column-start: 1;
    padding: 0;
  }

  .contacts__title {
    background-image: none;
    padding: 0;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__description {
    width: 247px;
  }

  .contacts__button {
    width: 230px;
    display: flex;
    align-self: flex-end;
  }
}
