.form-header__container{
  margin: 0 auto;
  background-color: #F1F1F1;
  padding: 73px 30px;
}

.form-header__title{
  margin: 0;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
}
