.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  min-height: 160px;
  background: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  border-top: 1px solid #e5e5e5;
  padding: 0 39px;
  padding-top: 22px;
  display: flex;
  align-items: center;
  column-gap: 27px;
}

@media (min-width: @tablet-width) {
  .page-footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 143px;
    padding: 0 50px;
  }

  .page-footer__copyright {
    border: none;
    padding: 0;
  }

  .page-footer__logo {
    display: block;
  }
}

