.product__container{
  margin: 0 auto;
  padding: 30px;
}

.product__list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product__title{
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.product__description{
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444;
}

.product-price{
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
