.reviews__container {
  position: relative;
  margin: 0 auto;
  padding: 0 30px 51px 30px;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 6px;
    background-image: url("../../img/svg/zigzag-line-desktop.svg.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 94%;
    width: 100%;
  }
}

.reviews__title {
  color: #000000;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 14px 0;
}

.reviews__item {
  padding: 0;
  margin: 0;
}

.reviews__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__author {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.reviews__author-inscription {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.reviews__slider {
  display: flex;
  margin: 30px 0 38px 0;
  box-sizing: border-box;
}

.reviews__link {
  background-color: #ffffff;
  color: #000000;
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .reviews__container {
    padding: 0 50px;
    padding-bottom: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 17px;
      background-image: url("../../img/svg/zigzag-line-desktop.svg.svg");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100%;
      width: 100%;
    }
  }

  .reviews__slider {
    position: absolute;
    right: 0;
    top: 125px;
    border: none;
  }

  .reviews__title {
    padding: 0;
    order: 1;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__link {
    order: 2;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reviews__list {
    position: relative;
    order: 3;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__author {
    display: block;
    width: 284px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__container {
    margin: 0 auto;
    padding: 0 50px 90px 224px;
    width: 874px;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      height: 23px;
      background-image: url("../../img/svg/zigzag-line-desktop.svg.svg");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 94%;
      width: 100%;
    }
  }

  .reviews__slider {
    top: 100px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
}
