.site-list__item {
  margin: 0;
  padding: 0;

  .site-list__link {
    color: #000000;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    width: 334px;
    position: absolute;
    display: flex;
    row-gap: 20px;
    left: 50px;
    top: 110px;
    flex-wrap: wrap;
  }

  .site-list__link {
    display: block;
    font-size: 15px;
    width: 167px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 334px;
    position: static;
    display: flex;
    row-gap: 20px;
    left: 50px;
    top: 110px;
    flex-wrap: wrap;
  }

  .site-list__link {
    display: block;
    font-size: 17px;
    width: 167px;
  }
}
